<h1>{{title}}</h1>
<ul class="li-warp">
  <li class="right">
    <ul>
      <li><img src="/static/images/details/{{data.p_index_imgLIST}}" alt="" /></li>
      <li>{{data.p_name}}</li>
      <li>{{data.p_brand}}</li>
      <li><img src="/static/images/details/{{data.p_detail_imgINFO}}" alt="" /></li>
      <li class="p-price">{{data.p_price}}元</li>
      <li>{{data.p_discountZHEKOU}}</li>
    </ul>
  </li>
  <div class="clear">

  </div>
</ul>
